---
import { SEO } from 'astro-seo';

interface Props {
  title: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  lang?: string;
}

const { title, description, ogTitle, ogDescription, lang = 'en' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: ogTitle ?? title,
          type: 'website',
          image: '/og.png',
        },
        optional: {
          description: ogDescription ?? description,
        },
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
